@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2a0845,
    #6441a5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inputClass {
  background-color: transparent;
  padding: 1rem;
  border: 2px solid #9a94ab;
  border-radius: 0.4rem;
  color: #580fb0;
  font-family:Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 1rem;
  &:focus {
    border: 0.1rem solid #580fb0;
    outline: none;
  }
}

.button {
  background-color: #580fb0;
  color: white;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.button:hover {
  background-color: rgb(45, 59, 212);
}

.formCont {
 @apply bg-gradient-to-r from-gray-50 to-stone-200;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5b5a5a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #817f7f;
}

.chatbody {
 width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
