@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
body {
  background: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);
  background-size: cover;
  background-position: center;
}

.inputClass {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
  &:focus {
    border: 0.1rem solid #997af0;
    outline: none;
  }
}

.button {
  background-color: #4678ed;
  color: white;
  padding: 0.5rem 0.5rem;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.button:hover {
  background-color: rgb(45, 59, 212);
}

.formCont {
  background-image: linear-gradient(to top, #090c0c 20%, #330867 70%);
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5b5a5a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #817f7f;
}
